:root {
  --main-font-color: #ffff;
  --secondary-font-color: rgba(242, 120, 92, 1);
  --header-color: rgba(242, 120, 92, 0.7);
  --primary-button-color: #0d606f;
  --aleo-font: "Aleo", serif;
  --red-hat-font: "Red Hat Text", sans-serif;
  --primary-font-size: 16px;
  --primary-font-weigth: 500;
  --primary-transition: 0.3s;
}

html {
  font-size: var(--primary-font-size);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.background-dimming{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--main-font-color);
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  font-weight: var(--primary-font-weigth);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:not(.nav-item-link):hover {
  transition: var(--primary-transition);
  text-decoration: none;
}

.nav-item-mobile {
  display: none;
}

@media (max-width: 390px) {
  .nav-item-mobile {
    display: block;
  }
}

.btn {
  width: 228px;
  height: 59px;
  border: 3px solid transparent;
  cursor: pointer;
  background-color: var(--primary-button-color);
  border-radius: 10px;
  font-family: var(--red-hat-font);
  font-weight: var(--primary-font-weigth);
  font-size: 1.5rem;
  color: inherit;
  line-height: 2rem;
}

@media (max-width: 390px) {
  .btn {
    height: 30px;
    width: 92px;
    font-size: 0.69rem;
    padding: 0 0;
    line-height: 14.55px;
  }
}

section:not(.section-preview, .section-destinations) {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 390px) {
  .section-steps,
  .section-destinations {
    width: 360px;
  }
}

@media (max-width: 390px) {
  .header,
  .section-stories,
  .section-preview {
    width: 390px;
  }
}

.header,
.section-preview {
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

@media (max-width: 390px) {
  .header {
    background-image: linear-gradient(
        180deg,
        #0d606f 0%,
        rgba(13, 96, 111, 0) 80.1%
      ),
      url(./assets/img/bg.jpg);
  }
}

header {
  background-color: var(--header-color);
  height: 90px;
  font-family: var(--red-hat-font);
  color: var(--main-font-color);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  z-index: 2;
}

.header-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-color);
  opacity: 90;
  line-height: 1.312rem;
}

.header-burger {
  display: none;
}

@media (max-width: 390px) {
  .header-burger {
    position: relative;
    display: block;
    width: 35px;
    height: 16px;
    top: 19px;
    right: -340px;
  }

  .burger-line {
    display: block;
    position: absolute;
    width: 26.25px;
    height: 2.67px;
    background: var(--main-font-color);
    border-radius: 5px;
    /* z-index: 10; */
  }

  .burger-line-first {
    top: 0;
  }

  .burger-line-second {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger-line-third {
    bottom: 0px;
  }
}

.header-nav-close {
  display: none;
}

@media (max-width: 390px) {
  .header-nav-close {
    position: absolute;
    top: 15px;
    left: 10px;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 11;
  }

  .header-nav-close-line {
    display: block;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.7);
  }

  .header-nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header-nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.header-btn {
  width: 103px;
  height: 41px;
  font-size: 1rem;
  line-height: inherit;
}

.header-btn:hover {
  border: 3px solid var(--main-font-color);
  transition: border 0.5s;
}

@media (max-width: 390px) {
  .header {
    box-shadow: none;
    height: 75px;
    background-size: 165% auto;
    background-color: transperent;
  }

  .header-container {
    height: 32px;
    width: 100%;
    background-color: transparent;
    justify-content: flex-start;
  }

  .header-btn {
    display: none;
  }
}

.logo-container {
  width: 216px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 38px;

  gap: 6px;
  transition: transform var(--primary-transition);
}

.logo-container:hover {
  filter: invert(73%) sepia(15%) saturate(4257%) hue-rotate(152deg)
    brightness(96%) contrast(90%);
  transform: scale(103%);
}

@media (max-width: 390px) {
  .logo-container {
    margin-left: 0;
    padding-top: 45px;
    padding-left: 16px;
  }
}

@media (max-width: 390px) {
  .header-logo {
    display: none;
  }
}
.nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list li:hover {
  color: var(--primary-button-color);
  transition: color 0.2s;
}

.nav-list a {
  padding-right: 60px;
  padding-left: 0px;
  color: inherit;
}

@media (max-width: 1020px) {
  .nav-list a {
    padding-right: 40px;
  }
}

@media (max-width: 390px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 165px;
    line-height: 21.17px;
    background: var(--secondary-font-color);
    border-radius: 5px;
    height: 251px;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .nav-active {
    transform: translateX(0);
  }

  .nav-list {
    position: absolute;
    top: 44px;
    left: 44px;
    width: 106px;
    height: 176px;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0;
    margin: 0;
  }
  .nav-list a {
    padding-right: 0;
    width: 100%;
  }
}

.login-pop-up {
  display: none;
}

.popup-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
  left: 32%;
  width: 650px;
  height: 660px;
  z-index: 6;
  background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation-name: enter-popup;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
}

@media (max-width: 390px) {
.popup-active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 0px; */
}
}

.login-pop-up form .container {
  padding-top: 25px;
}

.login-pop-up-form input {
  margin-top: 12px;
}

.login-pop-up-form .container:last-child {
  margin-bottom: 55px;
}
.login-pop-up-form button {
  margin-top: 45px;
}


.popup-active button, .popup-active input {
  font-family: var(--red-hat-font);
  color: var(--main-font-color);
  font-size: 1.25rem;
  width: 560px;
  height: 54px;
  background-color: var(--main-font-color);
  border-radius: 10px;
  border:  transparent;
}

form .registration button {
  display: block;
  margin-top: 20px;
}

.registration label {
      font-family: var(--red-hat-font);
      color: #0D606F;
      font-size: 1.25rem;
}

.login-pop-up-form .registration .container {
  padding-top: 0;
}


@media (max-width: 390px) {
.popup-active button, .popup-active input {

  }
}

.popup-active button{
  margin-bottom: 5px;
}

.popup-active button img {
  position: absolute;
  
}

.popup-active button span {
  padding-left: 35px;
}

.registration p {
  font-family: var(--aleo-font);
  color: #0D606F;
  font-size: 18px;
  margin-top: 10px;
}

.registr-to-login {
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  color: #0D606F;
}

.popup-active input {
  color: black;
  font-size: 1.6rem;
}

.popup-active button:last-child {
  background-color: #0D606F;
  color: var(--main-font-color);
}
.pop-up-btn-facebook {
  background-color: #1877F2 !important;
}

.pop-up-btn-google {
  color: #0D606F !important;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16)
}

.popup-active h3 {
  width: 328px;
  font-family:var(--aleo-font);
  font-size: 2rem;
  font-weight: 700;
  color: #0D606F;
}

 .registration h3  {
  width: 219px !important;
  margin-bottom: 0;
 }

.mail-error{
  position: absolute;
  top: 49%;
  color:rgba(242, 120, 92, 1);
  font-size: 0.9rem;
  margin: 0 0;
}

.popup-or::after {
  content:'or';
}

.popup-line {
  width: 85%;
  color: rgba(13, 96, 111, 0.5);
}

.popup-reg {
  text-decoration: underline;
  cursor: pointer;
}

.popup-reg:hover {
  text-decoration: none;
}

.login-pop-up-form {
    display: flex;
    flex-direction: column;
    color: #0D606F;
    font-size: 20px;
}

@keyframes enter-popup {
  from {
    top: 0%;
  }
  to {
    top: 8%;
  }
}

/* .registration-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
  left: 32%;
  width: 650px;
  height: 436px;
  z-index: 6;
  background: linear-gradient(177.09deg, #ffffff 6.15%, #0d606f 202.69%);
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation-name: enter-popup;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
} */


.section-preview {
  background-position: center -90px;
  height: 675px;
  margin-bottom: 90px;
  color: var(--main-font-color);
}

@media (max-width: 390px) {
  .section-preview {
    height: 176px;
    background-size: 165% auto;
    background-position: -127px -76px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
  }
}

.section-steps {
  max-width: 1440px;
  text-align: center;
  position: relative;
}

@media (max-width: 390px) {
  .section-steps {
    height: 153px;
    width: 360px;
    margin-left: 15px;
  }
}

h2 {
  font-family: var(--red-hat-font);
  color: var(--secondary-font-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 46px;
  margin-top: 80px;
  position: relative;
}

@media (max-width: 390px) {
  h2 {
    font-size: 0.875rem;
    line-height: 1.158rem;
    margin: 0 0;
    margin-bottom: 20px;
  }
}

.preview-container {
  padding-top: 32px;
  padding-left: 120px;
  width: 892px;
  height: 422px;
}

@media (max-width: 390px) {
  .preview-container {
    width: 390px;
    height: 176px;
    padding: 0 0;
  }
}

h1 {
  font-family: var(--aleo-font);
  font-weight: calc(1.4 * var(--primary-font-weigth));
  font-size: 5rem;
  line-height: 6rem;
  width: inherit;
  margin: 0 0;
}

@media (max-width: 390px) {
  h1 {
    display: none;
  }
}

@media (max-width: 910px) {
  h1 {
    font-size: 4rem;
    width: 600px;
  }
}

.preview-container p {
  font-style: var(--aleo-font);
  width: 723px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0 0;
  padding-top: 30px;
  padding-bottom: 46px;
  font-style: italic;
  font-weight: calc(1.4 * var(--primary-font-weigth));
  letter-spacing: 0.81px;
}

@media (max-width: 390px) {
  .preview-container > p {
    display: none;
  }
}

.surch-form > *:not(.form-overlay) {
  z-index: 1;
}
.section-preview input[type="text"] {
  color: var(--secondary-font-color);
  width: 638px;
  height: inherit;
  border: none;
  font-size: 1.5rem;
  padding-left: 40px;
  background-color: inherit;
  z-index: 1;
}

@media (max-width: 390px) {
  .section-preview input[type="text"] {
    font-size: 0.875rem;
    line-height: 1.05rem;
    padding-left: 16.45px;
    width: 226.01px;
  }
}

.surch-form {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 892px;
  height: 95px;
}

@media (max-width: 390px) {
  .surch-form {
    width: 360px;
    height: 48px;
    justify-content: center;
    margin-top: 67px;
    margin-bottom: 61px;
    margin-left: 15px;
  }
}

@media (max-width: 1020px) {
  .surch-form {
    max-width: 700px;
  }
}

.form-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 892px;
  height: 95px;
  border-radius: 16px;

  background-color: var(--main-font-color);
  opacity: 70%;
}

@media (max-width: 390px) {
  .form-overlay {
    width: 360px;
    height: 48px;
  }
}

@media (max-width: 1020px) {
  .form-overlay {
    width: inherit;
  }
}

.section-preview input::placeholder {
  color: var(--secondary-font-color);
  font-family: var(--aleo-font);
  font-size: 1.5rem;
  line-height: 28.8px;
}

@media (max-width: 390px) {
  .section-preview input::placeholder {
    font-size: 0.875rem;
    line-height: 1.05rem;
  }
}
@media (max-width: 390px) {
  .surch-form-btn {
    margin-left: 16px;
  }
}

.section-steps h2 {
  margin-top: 92px;
}

@media (max-width: 390px) {
  .section-steps h2 {
    margin-top: 0;
  }
}

.steps-trip-wrapper {
  max-width: 1177px;
  margin-left: 110px;
}

@media (max-width: 390px) {
  .steps-trip-wrapper {
    margin-left: 0;
  }
}

.steps-trip {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 390px) {
  .steps-trip {
    width: inherit;
    justify-content: space-between;
    /* margin-left: 15px; */
    padding: 0 0;
  }
}

.steps-trip > li {
  list-style-type: none;
  color: rgba(13, 96, 111, 1);
  font-family: var(--aleo-font);
  font-weight: calc(0.8 * var(--primary-font-weigth));
  font-size: 1.25rem;
  line-height: 24px;
}

@media (max-width: 390px) {
  .steps-trip > li {
    font-size: 0.625rem;
    line-height: 0.75rem;
    width: 70px;
    height: 70px;
  }
}

.steps-trip img {
  width: 100px;
  height: 100px;
}

@media (max-width: 390px) {
  .steps-trip img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 390px) {
  .steps-trip p {
    margin-top: 19px;
  }

  .steps-trip-velo {
    width: 95px;
    text-align: left;
  }
  .steps-trip-calendar {
    width: 120px;
    position: relative;
    right: 22px;
  }

  .steps-trip-by-air {
    position: relative;
    right: 35px;
    text-align: right;
    width: 107px;
  }
}

.section-destinations {
  text-align: center;
}

.slider {
  position: relative;
  max-height: 800px;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  /* position: relative; */
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-self: baseline; */
  padding-left: 0;
  margin: 0 0;
  transition: all linear 0.35s;
  /* overflow: hidden; */
}

@media (max-width: 390px) {
  .section-destinations {
    height: 251px;
    width: 360px;
    margin-left: 15px;
    margin-bottom: 59px;
  }
}

.slider .slide:not(.wrapper-slider-usa) {
  width: 800px;
  height: 800px;
  margin-right: 60px;
}

@media (max-width: 390px) {
  .slider .slide:not(.wrapper-slider-usa) {
  margin-right: 0px;
  } 

  .slider div {
    height: 210px;
  }
}

.slider-img {
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 390px) {
  .slider img {
    position: relative;
    width: 360px;
    height: 210px;
  }
}

.slider p {
  position: relative;
  right: -80px;
  bottom: 110px;
  font-size: 2rem;
  font-family: var(--red-hat-font);
  text-transform: uppercase;
  text-align: left;
  color: var(--main-font-color);
}

@media (max-width: 390px) {
  .slider p {
    width: 300px;
    right: -240px;
    bottom: 220px;
    font-size: 1.25rem;
  }  
}


.wrapper-slider-japan {
  /* flex-shrink: 0; */
  overflow: visible;
  /* border-top-right-radius: 16px;
  border-bottom-right-radius: 16px; */
}

@media (max-width: 390px) {
  .wrapper-slider-japan {
    display: none;
  }
}

@media (max-width: 390px) {
  .wrapper-slider-usa {
    display: none;
  }
}

.slider-navigation {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  left: 0;
}

.slider-navigation-mobile {
  display: none;
}

.slider-navigation div {
  width: 19%;
  transition: all linear 0.3s;
}

.slider-navigation div:hover {
  background-color: var(--main-font-color);

  opacity: 0.2;
}

.slider-left {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.slider-right {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

@media (max-width: 390px) {
  .slider-navigation {
    display: none;
  }

  .slider-navigation-mobile {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 360px;
    height: 300px;
    top: 90px;
  }

  .slider-navigation-mobile > img {
    width: 30px;
    height: 30px;
  }
}

.slider-btn,
.stories-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-family: var(--red-hat-font);
  color: var(--main-font-color);
}

.slider-btn {
  margin-left: 72px;
  margin-top: 50px;
}

@media (max-width: 390px) {
  .slider-btn {
    position: relative;
    top: -120px;
    margin-left: 0;
  }
}

button:hover {
  border: 3px solid var(--secondary-font-color);
  gap: 15px;
  transition: border 0.5s, gap 0.5s;
}

.section-destinations button img,
.section-stories button img {
  width: 40px;
  height: 40px;
  margin: 0;
}

@media (max-width: 390px) {
  .section-destinations button img,
  .section-stories button img {
    width: 10px;
    height: 10px;
  }
}

.pagination {
  display: flex;
  position: absolute;
  left: 47%;

  /* margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 85px; */
  cursor: pointer;
}

.pagination p {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  margin-right: 8px;
}

.pagination .pagination-slider-point-yes {
  background-color: #f2785c;
}

@media (max-width: 390px) {
  .pagination {
    position: relative;
    bottom: 73px;
    margin-left: 1px;
  }

  .pagination p {
    background-color: rgba(242, 120, 92, 0.5);
    width: 8px;
    height: 8px;
    margin-right: 1px;
  }

  .pagination .pagination-slider-point-yes {
    background-color: rgba(242, 120, 92, 0.5);
  }

  .pagination p:first-child {
    background-color: #f2785c;
  }
}

@media (max-width: 390px) {
  destination-slider-point-yes {
    background-color: var(--secondary-font-color);
  }
}

.section-stories {
  color: var(--primary-button-color);
  font-family: var(--aleo-font);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0px !important;
}

@media (max-width: 390px) {
  .section-stories {
    height: 628px;
    font-size: 0.563rem;
    line-height: 0.675rem;
  }
}

.stories-item {
  width: 760px;
  text-align: left;
  margin-left: 40px;
}

@media (max-width: 390px) {
  .stories-item {
    width: inherit;
    height: inherit;
    margin-left: 10px;
  }
}

.wrapper-section-stories {
  position: relative;
  background-image: url(./assets/img/bgMainFooter.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 390px) {
  .wrapper-section-stories {
    background-position: -70px 2px;
    background-size: 140% 120%;
    height: inherit;
  }
}

.section-stories ul {
  margin-top: 0;
  margin-bottom: 0;
  width: inherit;
  height: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 145px;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 390px) {
  .section-stories ul {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 13px;
  }
}

@media (max-width: 1020px) {
  .section-stories ul {
    padding-left: 25px;
  }
}

.section-stories li {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  list-style-type: none;
}

@media (max-width: 390px) {
  .section-stories li {
    height: 130px;
    margin-bottom: 15px;
  }
  .section-stories li:last-child {
    height: 30px;
  }
}

.section-stories img {
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0d606f);
  width: 400px;
  height: 250px;
  margin-bottom: 30px;
}

@media (max-width: 390px) {
  .section-stories img {
    width: 155px;
    height: inherit;
  }
}

.section-stories h3 {
  margin: 0 0;
  font-weight: calc(0.8 * var(--primary-font-weigth));
  font-size: 2.19rem;
  line-height: 2.625rem;
}

@media (max-width: 390px) {
  .section-stories h3 {
    padding-top: 6px;
    font-size: 0.688rem;
    line-height: 0.825rem;
    font-weight: calc(1.4 * var(--primary-font-weigth));
  }
  .section-stories h2 {
    margin-bottom: 8px;
  }
}

.stories-item-mobile {
  display: none;
}

@media (max-width: 390px) {
  .stories-item-mobile {
    display: block;
    width: 195px;
  }
}

@media (max-width: 390px) {
  .section-stories p:not(.stories-item-mobile) {
    display: none;
  }
}

.section-stories a {
  color: inherit;
  text-decoration: underline;
  font-weight: calc(1.4 * var(--primary-font-weigth));
  position: relative;
  top: -17px;
}

@media (max-width: 390px) {
  .section-stories a {
    top: -7px;
  }
}

.section-stories button {
  position: relative;
  right: 40px;
  margin: 0 auto;
}

@media (max-width: 390px) {
  .section-stories button {
    right: 0px;
    top: -2px;
  }
}

.footer .container {
  height: 82px;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-top: 22px;
  background-image: url(./assets/img/bgMainFooter.jpg);
  background-repeat: no-repeat;
  background-position: center -1249px;
}

@media (max-width: 390px) {
  .footer .container {
    background-position: -70px -300px;
    background-size: 140% 500%;
    width: 390px;
  }
}

.footer p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  font-family: var (--red-hat-font);
  color: var(--main-font-color);
  line-height: 22px;
}

@media (max-width: 390px) {
  .footer p {
    display: none;
  }
}

.footer .img-wrapper {
  display: flex;
}

.img-wrapper li,
.img-wrapper {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;
  text-decoration: none;
}

@media (max-width: 390px) {
  .footer .img-wrapper {
    padding-left: 24px;
    width: inherit;
    margin: 0 auto;
    margin-top: 23px;
  }
  .img-wrapper {
    justify-content: center;
  }
}

.footer img {
  margin-right: 21px;
  width: 33px;
  height: 33px;
}

.footer .img-inst {
  position: relative;
  top: -2px;
}

.footer .img-github {
  filter: brightness(0) invert(1);
  width: 50px;
  height: 25px;
}

@media (max-width: 390px) {
  .footer .img-github {
    width: 33.65px;
    height: 33.65px;
  }
}

.footer .img-rss {
  position: relative;
  top: -15px;
  align-self: flex-start;
  filter: brightness(0) invert(1);
  width: 70px;
  height: 55px;
}

@media (max-width: 390px) {
  .footer .img-rss {
    width: 55px;
    height: 35px;
    top: -5px;
  }

  .footer .img-github {
    width: 30px;
    height: 24px;
  }
}

.footer a,
.footer li {
  height: 35px;
  transition: var(--primary-transition);
}

.footer a:hover {
  filter: invert(46%) sepia(56%) saturate(679%) hue-rotate(321deg)
    brightness(101%) contrast(90%);
}

@media (max-width: 390px) {
  .footer {
    height: 65px;
  }
}
